/* Quiz Style Sheet */

.question-number {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.question {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.question h3 {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.answer {
    margin-bottom: 10px;
}

.next {
    margin-top: 20px;
    padding: 5px 10px;
    width: 100px;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.next:hover {
    background-color: white;
    color: black;
}

.start-again {
    margin-top: 20px;
    padding: 10px;
    width: 150px;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.start-again:hover {
    background-color: white;
    color: black;
}

.answer-div span {
    margin-left: 10px;
}

.correct span {
    -webkit-text-stroke: 1px green;
    text-decoration-color: green;
    -webkit-text-fill-color: green
}

.incorrect span {
    -webkit-text-stroke: 1px red;
    text-decoration-color: red;
    -webkit-text-fill-color: red;
}

.score-div .score-text {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.score-div .correct-score {
    font-size: 1.1em;
    color: green;
}

.score-div .incorrect-score {
    font-size: 1.1em;
    color: red;
}

.share-div {
    margin-top: 40px;
}

.share-div .share-buttons a {
    margin: 0 5px;
    color: black;
}

.share-div .share-buttons a:hover {
    opacity: 0.8;
}

.share-div .share-buttons a i {
    font-size: 2em;
}
